$black: #000;
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);

$white: #fff;

$blue-10: #f6fbff;
$blue-20: #e8f3ff;
$blue-30: #d2e9ff;
$blue-40: #aad6ff;
$blue-50: #71b7fb;
$blue-60: #378fe9;
$blue-70: #0a66c2;
$blue-80: #004182;
$blue-90: #053059;

$gray_faint: rgba(140, 140, 140, 0.1);
$cool-gray-10: #f8fafd;
$cool-gray-20: #edf3f8;
$cool-gray-30: #dde7f1;
$cool-gray-40: #c2d3e4;
$cool-gray-50: #9eb5ca;
$cool-gray-60: #788fa5;
$cool-gray-70: #56687a;
$cool-gray-80: #38434f;
$cool-gray-90: #293037;

$warm-gray-10: #fbfaf8;
$warm-gray-20: #f4f2ee;
$warm-gray-30: #eae6df;
$warm-gray-40: #d6cec2;
$warm-gray-50: #bbb1a1;
$warm-gray-60: #958b7b;
$warm-gray-70: #6e6558;
$warm-gray-80: #474139;
$warm-gray-90: #322f29;

$red-10: #fff9f7;
$red-20: #ffefea;
$red-30: #ffdfd6;
$red-40: #fdc2b1;
$red-50: #f69b81;
$red-60: #e06847;
$red-70: #cb112d;
$red-80: #762812;
$red-90: #512012;
